.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 95px 50px 96px;
    font-weight: 400;
    font-size: 18px;
}

.address {
    font-style: normal;
    line-height: 24px;
}

.header__address {
    max-width: 240px;
    justify-self: end;
}

.header__logo {
    width: 148px;
    height: 105px;
}

.header__links-list {
    list-style: circle;
    display: flex;
    gap: 32px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link_active {
    text-decoration: none;
}

.cover {
    position: relative;
    background-image: url("../images/cover.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    padding: 165px 50px 50px;
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    inset: 0;
    z-index: 1;
}

.cover__content {
    position: relative;
    z-index: 2;
}

.cover__title {
    font-weight: 700;
    font-size: 100px;
    letter-spacing: 0.3em;
    font-family: Raleway;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.aligned-text {
    display: block;
    text-align: start;
}

.aligned-text_center {
    display: block;
    text-align: center;
    margin-top: 17px;
    margin-left: 30px;
}

.aligned-text_right {
    display: block;
    text-align: end;
    margin-top: 17px;
}

.cover__description {
    margin-top: 106px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cover__description-text {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    word-spacing: 0.85em;
}

.bet-button {
    background-color: transparent;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    text-align: center;
    border: 1px solid white;
    width: 256px;
    height: 51px;
}

.lots {
    margin: 180px 24px 120px;
}

.lots__heading {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin: 27px 40px;
}

.lots__card-list {
    display: flex;
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
    list-style: none;
    background-position: center;
    background-size: cover;
    color: white;
    position: relative;
}

.lots__card-content {
    padding: 48px 40px;
    position: relative;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
}

.lots__card-content,
.card-link {
    height: 100%;
}

.card__title {
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: solid;
}

.card__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
    display: block;
    text-decoration: underline;
    font-weight: 400;
    font-size: 20px;
    margin: 30px 40px;
}

.about__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    margin: 100px 0px;
}

.about__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.about__description {
    padding-left: 25px;
}

.about__text-with-margin {
    margin-bottom: 24px;
}

.about {
    margin: 0 24px 180px;
    padding-top: 35px;
    display: grid;
    grid-template-columns: 334px auto;
}

.about__logo {
    justify-self: center;
    background-color: black;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.about__logo-image {
    width: 148px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 2fr 240px;
    font-weight: 400;
    font-size: 18px;
    padding: 0 50px;
    margin-bottom: 80px;
}

.footer__menu-list {
    list-style: none;
    text-align: center;
    justify-self: center;
    margin-left: -12px;
}

.footer__menu-link {
    text-decoration: underline;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.footer__social-icon {
    width: 48px;
}